@model QuizArena.Models.Question

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Question</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.QuestionText, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QuestionText)
                @Html.ValidationMessageFor(model => model.QuestionText)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AnswerRight, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AnswerRight)
                @Html.ValidationMessageFor(model => model.AnswerRight)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AnswerWrong1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AnswerWrong1)
                @Html.ValidationMessageFor(model => model.AnswerWrong1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AnswerWrong2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AnswerWrong2)
                @Html.ValidationMessageFor(model => model.AnswerWrong2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AnswerWrong3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AnswerWrong3)
                @Html.ValidationMessageFor(model => model.AnswerWrong3)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
