@model IEnumerable<QuizArena.Models.Question>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuestionText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnswerRight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnswerWrong1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnswerWrong2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnswerWrong3)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerRight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerWrong1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerWrong2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerWrong3)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
